.env
.env.*
!.env.example

/vendor
/node_modules
/resources/assets/v1/node_modules
/resources/assets/v2/node_modules

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

storage/*.key
/storage/*.key
storage/app
/storage/app
storage/database
/storage/database
storage/debugbar
/storage/debugbar
storage/export
/storage/export
storage/upload
/storage/upload
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/public/build
/public/hot
/public/v1/js/app.js*
/public/v1/js/app_vue.js*
/public/v1/js/create*
/public/v1/js/edit*
/public/v1/js/profile*
/public/v1/js/administrations
/public/v1/js/exchange-rates
/public/v1/js/webhooks

/.git
/.phpunit.cache
coverage.xml
npm-debug.log
yarn-error.log
